<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dsanderson.android.util"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk android:minSdkVersion="7" />
    <permission android:name="android.permission.INTERNET"></permission>
    <permission android:name="android.permission.ACCESS_FINE_LOCATION"></permission>
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></permission>

</manifest>